<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Mon portfolio avec mes projets draws et mon cv"
    />
    <link rel="icon" href="{{ '/public/images/star-icon.webp' | url }}" />
    <title>
      Portfolio
    </title>
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}" />
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>

    <script type="module" src="{{ '/assets/js/main.js' | url }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
