<a
  class="draw-card"
  data-draw-card
  data-id="{{ draw.id }}"
  href="/draws/{{ draw.id }}/"
>
  <article>
    <div class="draw-card-media">
      <img src="{{ draw.image | url }}" alt="{{ draw.titre }}">
    </div>
    <div class="draw-card-content">
      {% if draw.title %}
        <h3>{{ draw.title }}</h3>
      {% endif %}
      {% if draw["short-text"] %}
        <p>{{ draw["short-text"] }}</p>
      {% endif %}
    </div>
  </article>
</a>
