<section class="draw-page" id="drawPage">
  <div class="container" data-draw-page>
    <div class="p-d-top">
      <div class="row">
        <div class="col-1">
          <button data-return>
            <img src="/public/images/hand-return.webp" alt="retour">
          </button>
        </div>
        <!-- // ============================================================
// section links and top text
// ============================================================ -->
        <div class="col-1">
          <p class="p-d-scroll">
            Scroller sur les côtés pour progresser dans le défilement de la
            page.
          </p>
        </div>
        <div class="col-1">
          <div class="p-d-title">
            <h3>{{ draws.title }}</h3>
            <p>{{ draws["short-text"] }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- // ============================================================
// section zooming with the draw
// ============================================================ -->
    <div class="draw-zoom">
      <div class="row">
        <div class="col-3">
          <div class="p-d-box" data-zoom-box>
            <img
              src="{{ draws.image | url }}"
              alt="{{ draws.title }}"
              data-zoom-img
              draggable="false"
            >

            <div class="zoom-controls">
              <button type="button" data-zoom-in>
                <img src="/public/images/hand-plus.webp" alt="zoom +">
              </button>
              <button type="button" data-zoom-out>
                <img src="/public/images/hand-minus.webp" alt="zoom -">
              </button>
            </div>
            <!-- // ============================================================
// section button return for reverse
// ============================================================ -->
            {% if draws.id == "draw-reverse" %}
              <button class="hand-rotate-btn" data-rotate type="button">
                <img src="/public/images/hand-rotate.webp" alt="rotation">
              </button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- // ============================================================
// section bottom text
// ============================================================ -->
    <div class="p-d-bottom">
      <div class="row">
        {%
          set sections = [
            { title: draws["description-title"], text: draws["description-text"] },
            { title: draws["purpose-title"], text: draws["purpose-text"] },
            { title: draws["idea-title"], text: draws["idea-text"] }
          ]
        %}

        {% for section in sections %}
          <div class="col-1">
            <div class="{{ loop.index }}">
              <div class="p-d-section-draw">
                <h3>{{ section.title }}</h3>
                <p>{{ section.text }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
