<section class="project-page" id="projectPage">
  <div class="container" data-project-page>
    <div class="p-p-top">
      <div class="row">
        <div class="col-1">
          <button data-return>
            <img src="/public/images/button-return.webp" alt="retour">
          </button>
        </div>
        <div class="col-1 offset-2">
          <div class="p-p-title">
            <h3>{{ project.title }}</h3>
            <p>{{ project["short-text"] }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      {% if project.type == "video" %}
        <div class="col-3">
          <div class="p-p-box">
            <video
              src="{{ (project.video if project.video else '') | url }}"
              controls
              playsinline
              controlsList="nodownload noremoteplayback noplaybackrate"
              disablePictureInPicture
            >
              <source
                src="{{ (project.video if project.video else '') | url }}"
                type="video/mp4"
              >
            </video>
          </div>
        </div>
      {% elif project.type == "image" %}
        {% set images = project | projectImages %}

        {% if images.length == 3 %}
          <div class="col-2">
            <div class="p-p-img-box p-p-img-box--large">
              <img src="{{ (images[0] if images[0] else '') | url }}">
            </div>
          </div>

          <div
            class="col-1 offset-3 p-p-images-stack"
            style="display: flex; flex-direction: column; gap: 44px;"
          >
            <div class="p-p-img-box p-p-img-box--small">
              <img src="{{ (images[1] if images[1] else '') | url }}">
            </div>
            <div class="p-p-img-box p-p-img-box--small">
              <img src="{{ (images[2] if images[2] else '') | url }}">
            </div>
          </div>
        {% elif images.length > 3 %}
          <div class="col-1">
            <div class="p-p-img-box p-p-img-box--small">
              <img src="{{ (images[0] if images[0] else '') | url }}">
            </div>
          </div>
          <div class="col-1">
            <div class="p-p-img-box p-p-img-box--small">
              <img src="{{ (images[1] if images[1] else '') | url }}">
            </div>
          </div>
          <div class="col-1">
            <div class="p-p-img-box p-p-img-box--small">
              <img src="{{ (images[2] if images[2] else '') | url }}">
            </div>
          </div>
        {% elif images.length > 1 %}
          <div class="col-2">
            <div class="p-p-img-box p-p-img-box--small">
              <img src="{{ (images[0] if images[0] else '') | url }}">
            </div>
          </div>

          <div class="col-1 offset-3 p-p-images-stack">
            {% for img in images %}
              {% if loop.index > 1 %}
                <div class="p-p-img-box p-p-img-box--small">
                  <img src="{{ (img if img else '') | url }}">
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% else %}
          <div class="col-3">
            <div class="p-p-box">
              <img src="{{ (images[0] if images[0] else '') | url }}">
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>

    {% if project.type == "image" and images.length > 3 %}
      {% set extraImages = images | slice(3) %}
      {% for group in extraImages | batch(4) %}
        <div class="row">
          {% for img in group %}
            <div class="col-1">
              <div class="p-p-img-box p-p-img-box--small">
                <img src="{{ (img if img else '') | url }}">
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    {% endif %}

    <div class="p-p-bottom">
      <div class="row">
        {%
          set sections = [
            { title: project["description-title"], text: project["description-text"] },
            { title: project["purpose-title"], text: project["purpose-text"] },
            { title: project["idea-title"], text: project["idea-text"] }
          ]
        %}

        {% for section in sections %}
          <div class="col-1">
            <div class="p-p-section-project{{ loop.index }}">
              <h3>{{ section.title }}</h3>
              <p>{{ section.text }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
