---
layout: base.njk
title: Accueil
permalink: "/"

---

<div class="showcase-pin-container" id="showcasePin">
  <!-- // ============================================================
// section project : galerie
// ============================================================ -->

  {# <section class="projects-spiral" id="projectStage">
    <div class="stage">
      <div id="spiral">
        {% for item in projets %}
          {% include "card-project.njk" %}
        {% endfor %}
      </div>

      <div id="vignette-center"></div>
      <div id="vignette-edge"></div>

      <div class="center-text">
        <h1>Projets</h1>
      </div>
    </div>
  </section> #}

  <section class="projects-spiral" id="projectStage">
    <div class="spiral-section">
      <div class="spiral">
        <div class="spiral-track" id="spiralTrack">
          <div class="center-text">
            <h1>Projets</h1>
          </div>
          {% for item in projets %}
            {% include "card-project.njk" %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <!-- // ============================================================
// section gallery : galerie
// ============================================================ -->
  <section class="gallery-section" id="galleryStage">
    <div class="scene">
      <div class="gallery-track" id="galleryTrack">
        <div class="center-text">
          <h1>Mes Dessins</h1>
        </div>

        {% for item in draws %}
          {% include "card-draw.njk" %}
        {% endfor %}
      </div>
    </div>
  </section>
</div>

<!-- // ============================================================
// section cv : galerie
// ============================================================ -->
<div class="next-section">
  <h2>La suite de ta page ici...</h2>
</div>

<div id="scroll-hint">Scroll ↓</div>

<div class="progress-debug" id="progressDebug"></div>
