.draw-card {
  position: relative;
  width: 200px;
  height: 220px;
  border-radius: 10px;
  overflow: visible;
  display: block;
  cursor: pointer;

  article {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.draw-card[data-id="draw-reverse"]:hover .draw-card-media img {
  transform: rotate(180deg);
}

.draw-card-media {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
  }
}

.draw-card-media:hover {
  box-shadow: none;
}

.draw-card-content {
  position: absolute;
  bottom: calc(100% + 12px);
  left: 50%;
  width: 300px;
  height: 100px;
  transform: translateX(-50%) translateY(8px);
  padding: 9px 12px;
  background: rgba(18, 18, 18, 0.92);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 8px;
  text-align: center;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s;
  z-index: 11;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.draw-card:hover {
  z-index: 10;
}

.draw-card:hover .draw-card-media img {
  transform: scale(1.05);
}

.draw-card:hover .draw-card-content {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.draw-card[data-id="draw-reverse"]:hover .draw-card-media img {
  transform: rotate(180deg);
}
