@use "../variables" as *;

footer {
  margin-bottom: $space-xl;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    object-position: center;
  }
}

.footer-a {
  display: flex;
  gap: $space-sm;

  .footer-insta {
    display: flex;
  }

  .footer-github {
    display: flex;
  }

  svg {
    display: inline-block;
  }
}
