@use "../variables" as *;

.p-d-title {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: $space-xs;
}

.p-d-scroll {
  text-align: center;
}

.p-d-section-draw {
  display: flex;
  flex-direction: column;
  gap: $space-xs;
}

.p-p-section-project a {
  color: $color-white;
  text-decoration: none;
}

.p-p-section-project a:hover {
  font-size: 1.1rem;
  transition: 0.5s ease;
}

section.draw-page {
  margin-top: $space-lg;
  margin-bottom: $space-lg;
}

.p-d-top {
  margin-bottom: $space-lg;
}

.p-d-bottom {
  margin-top: $space-lg;
  margin-bottom: $space-xl;
}

.p-d-box {
  position: relative;
  width: 1500px;
  height: 900px;
  overflow: hidden;
  border: solid 1px rgb(73, 73, 73);
}

.draw-zoom {
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    transform-origin: center center;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}

.hand-rotate-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  z-index: 10;
  background: none;
  border: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;

  img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.5s ease;
  }
}

.hand-rotate-btn:hover img {
  rotate: 180deg;
}

.zoom-controls {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    padding: 0;
    border: none;
    cursor: pointer;

    transition: transform 0.15s ease;

    &:active {
      transform: scale(0.9);
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    img {
      width: 100%;
      height: 100%;
      pointer-events: none;
      transform: scaleX(-1);
    }
  }
}
