@use "../variables" as *;

.p-p-images-stack {
  display: flex;
  flex-direction: column;
}

.p-p-title {
  text-align: right;
}

section.project-page {
  margin-top: $space-lg;
  margin-bottom: $space-lg;
}

.p-p-top {
  margin-bottom: $space-lg;
}

.p-p-bottom {
  margin-top: $space-lg;
}

.p-p-box {
  width: 1500px;
  height: 900px;
  overflow: hidden;
  border: solid 1px rgb(73, 73, 73);

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }

  video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }
}

.p-p-img-box {
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }

  &--large {
    width: 882px;
    height: 750px;
  }

  &--small {
    width: 416px;
    height: 356px;
  }
}

.p-p-images-stack {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.project-page {
  h3 {
    line-height: 2;
  }

  video {
    width: 100%;
    display: block;
    object-fit: cover;
  }
}
