@use "../variables" as *;

.project-page video {
  width: 100%;
  display: block;
  object-fit: cover;
}

.p-p-images-stack {
  display: flex;
  flex-direction: column;
}

.p-p-gallery-row {
  justify-items: center;

  .col-1,
  .col-2,
  .col-3 {
    justify-self: center;
  }
}

.p-p-title {
  text-align: right;
}

.p-d-section-project {
  display: flex;
  flex-direction: column;
  gap: $space-xs;
}

section.project-page {
  margin-top: $space-lg;
  margin-bottom: $space-lg;
}

.p-p-top {
  margin-bottom: $space-lg;

  .hand-buttler {
    position: absolute;
    width: 4%;
    top: 7%;
    left: 48%;
  }
}

.p-p-top-a {
  display: flex;
  justify-content: center;

  a {
    display: inline-block;
    text-align: center;
    color: $color-white;
    text-decoration-line: none;
    transition: 1s ease;
  }

  a:hover {
    font-size: 1.1rem;
  }
}

.p-p-bottom {
  margin-top: $space-lg;
  margin-bottom: $space-xl;
}

.p-p-box {
  width: 1500px;
  height: 900px;
  overflow: hidden;
  border: solid 1px rgb(73, 73, 73);

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    object-position: center;
  }

  video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }
}

.p-p-img-box {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    object-position: center;
  }

  &-large {
    width: 882px;
    height: 750px;
  }

  &-small {
    width: 416px;
    height: 356px;
    margin-bottom: $space-lg;
  }
}

.s6-intruder-small .p-p-img-box-small {
  width: 416px;
  height: 556px;
}

.frontend-chocolat-group {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.frontend-chocolat-small .p-p-img-box-small {
  width: 416px;
  height: 1258px;
}

.p-p-images-stack {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
