@use "../variables" as *;

.p-d-title {
  text-align: right;
}

section.draw-page {
  margin-top: $space-xl;
  margin-bottom: $space-xl;
}

.p-d-top {
  margin-bottom: $space-lg;
}

.p-d-bottom {
  margin-top: $space-lg;
}

.draw-page {
  img,
  video {
    width: 100%;
    display: block;
    object-fit: cover;
  }
}
