@font-face {
  font-family: "Amarante";
  src: url("../../public/fonts/Amarante-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inika-Regular.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
}
