@use "variables" as *;

body > header,
body > section,
body > footer,
article {
  margin-inline: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 47px;
}

// @media (min-width: 768px) {
//   .row {
//     grid-template-columns: repeat(8, minmax(0, 1fr));
//   }
// }

section,
// article:not(.biography-card),
footer {
  max-width: 1500px;
  margin: auto;
}

.col-1 {
  grid-column: span 1;
}
.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}

.offset-1 {
  grid-column-start: 2;
}
.offset-2 {
  grid-column-start: 3;
}
