@use "variables" as *;

body > header,
body > section,
body > footer,
article {
  margin-inline: auto;
  // padding: $space-lg $space-sm;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 47px;
}

// @media (min-width: 768px) {
//   .row {
//     grid-template-columns: repeat(8, minmax(0, 1fr));
//   }
// }

section,
// article:not(.biography-card),
footer {
  max-width: 1500px;
  margin: auto;
}
