// ============================================================
// Box size project card
// ============================================================
$card-size-w: 11vmin;
$card-size-h: 15vmin;

// ============================================================
// Colors
// ============================================================
$color-black: #000000;
$color-white: #ffffff;
$color-interactive: #f200ff;

// ============================================================
// Fonts
// ============================================================
$font: "Amarante", sans-serif;
$font-p: "Inter", sans-serif;

// Title
$font-weight-title: 100;
$font-line-height-title: 1.2;

// Text
$font-weight-text: 200;
$font-line-height-text: 1.5;

// Legend
$font-weight-legend: 500;
$font-line-height-legend: 1.5;

// ============================================================
// Spacements
// ============================================================
$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 48px;
$space-xl: 80px;
